*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.containerAbout{
    min-height: 100vh;
    background: #00071d;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(imagesFor/contactUs.jpg);
    background-size:cover;
    background-position: center;
}
.containerAbout form{
    width: 670px;
    height: 400px;
    display: flex;
    justify-content: center;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px) ;
    flex-wrap: wrap;
}
.containerAbout form h1{
    color: #fff;
    font-weight: 500;
    margin-top: 20px;
    width: 500px;
    text-align: center;
}
.containerAbout form input{
    width: 290px;
    height: 40px;
    padding-left: 10px;
    outline: none;
    border: none;
    font-size: 15px;
    margin-bottom: 10px;
    background: none;
    border-bottom: 2px solid #fff;
}
.containerAbout form input::placeholder{
    color: #fff;
}.containerAbout form #lastName, 
.containerAbout form #mobile{
    margin-left: 20px;
}
.containerAbout form h4{
    color: #fff;
    font-weight: 300;
    width: 600px;
    margin-top: 20px;
}
.containerAbout form textarea{
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    font-weight: 200;
    font-size: 15px;
    padding: 10px;
    outline: none;
    min-width: 600px;
    max-width: 600px;
    min-height: 80px;
    max-height: 80px;
}
textarea::-webkit-scrollbar{
    width: 1em;
}
.containerAbout form textarea::-webkit-scrollbar-thumb{
    background-color: rebeccapurple;
}
.containerAbout form #button{
    border: none;
    background: #fff;
    border-radius: 5px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
}
.container1{
    max-width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer{
    width: 100%;
    background-color: #162938;
    padding: 70px 0;
}
.footer-col1{
    width: 25%;
    padding: 0 15px;
}
.footer-col1 h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    /* background-color: red; */
    /* justify-content: start;*/
     /* align-items: start;   */
}
.footer-col1 h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    /* background-color: #e91e63; */
    height: 2px;
    box-sizing: border-box;
    width: 70px;
}
.footer-col1 ul li:not(:list-child){
    margin-bottom: 10px;
}
.footer-col1 ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col1 ul li a:hover{
    color: #ffffff;
    padding-left: 10px;
}
.footer-col1 .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col1 .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}